.ListItemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    width: 100%;
    color: #0C0C0C;
}

.ListItemContainer .ItemCardCarrousel{
    width: 40%;
}

.ListItemContainer .ItemCardCarrousel .ImageContainer img{
    width: 100%;
}

.ListItemContainer .ItemCardBody{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding-left: 32px;
}

.ListItemContainer .ItemCardBody header{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-content: flex-start;
}

.ListItemContainer .ItemCardBody header .ItemCardBodyTitles{
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-content: flex-start;
}

.ListItemContainer .ItemCardBody header .ItemCardBodyTitles h2{
    font-size: 1.6em;
    font-weight: 600;
}

.ListItemContainer .ItemCardBody header .ItemCardBodyTitles h3{
    font-size: 1.3em;
}

.ListItemContainer .ItemCardBody header .Itemprice{
    font-size: 3em;
    font-weight: 600;
}

.ListItemContainer .ItemCardBody main{
    width: 40%;
}

.ListItemContainer .ItemCardBody main p{
    font-size: 1.3em;
    width: 90%;
}
